@page 
@using Microsoft.AspNetCore.Mvc.RazorPages
@using RazorPageExample.Repository
@model IndexModel
@{
    ViewData["Title"] = "Employees page";
}

<h1>Employees</h1>

@functions 
{
    public class IndexModel : PageModel
    { 
        IndexModel(IEmployeeRepository _repository)
        {

        }
        public void OnGet()
        {
        }
    }
}