@page 
@using Microsoft.AspNetCore.Mvc.RazorPages
@model IndexModel
@{
    ViewData["Title"] = "Employees page";
}

<h1>Employees</h1>
<p>@Model.Message</p>

@functions 
{
    public class IndexModel : PageModel
    {
        public string Message { get; set; } = string.Empty;
        public void OnGet()
        {
            Message = "Merhaba Asp.NET Razor";
        }
    }
}